:root {
    --bright-green: #00AC66;
    --default-text-color: #292929;
    --light-text-color: #A6A6A6;
    --main-darker-background: #F5F3EF;
    --main-lighter-background: #FAF9F7;
    --light-blue-background: #EDF2F6;

    --important-text: #cb2d2d;

    --search-bar-decoration: #f0f0f0;

    --available-color: #6DC5A1;
    --not-available-color: #C56D6D;
 
    --success-color: #00AC66;
    --success-bg: #E6F7F0;
    --warning-color: #E6A817;
    --warning-bg: #FDF7E8;
    --error-color: #D64045;
    --error-bg: #FCEBEC;
    --info-color: #007BFF;
    --info-bg: #E7F1FF;

    --playfair-font: 'Playfair Display', Georgia, 'Times New Roman', serif;
    --inter-font: Inter, Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--default-text-color);
    font-family: var(--inter-font);
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: var(--main-darker-background);
}

header a {
    text-decoration: none;
    color: var(--default-text-color);
    font-weight: 400;
}

header a:hover {
    font-weight: 600;
}

#home-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 78px;
    gap: 15px;
}

#logo-img {
    display: flex;
    background-color: var(--bright-green);
    height: 51px;
    width: 51px;
    border-radius: 8.5px;
    align-items: center;
    justify-content: center;
}

#logo-img sub, #logo-img sup {
    font-family: var(--playfair-font);
    color: white;
    font-size: 23px;
    font-weight: 900;
}

#logo-text {
    font-family: var(--playfair-font);
    font-size: 20px;
    font-weight: 600;
    color: var(--bright-green);
}

#sections {
    display: flex;
    gap: 44px;

}
#user-sections {
    display: flex;
    gap: 58px;
    margin-right: 150px;
}

#mailbox {
    display: flex;
    align-items: center;
}

#mailbox a {
    margin: 0px 2.5px 0px 4px;
}

#mailbox-notif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.5px;
    height: 15px;
    border-radius: 6.75px;
    font-size: 8.25px;
    color: var(--main-darker-background);
    background-color: var(--default-text-color);
}

/* home page */

p {
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    font-family: var(--playfair-font);
}


h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: var(--playfair-font);
}

.light-section {
    background-color: var(--main-lighter-background);
}

.dark-section {
    background-color: var(--main-darker-background);
}
.green-cta-btn {
    width: 152px;
    height: 53px;
    background-color: var(--bright-green);
    border: none;
    border-radius: 10px;
    color: white;
}

.green-cta-form-btn {
    height: 64px;
    width: auto;
}

.green-cta-btn a {
    text-decoration: none;
    color: white;
}

.transparent-cta-btn {
    background-color: transparent;
    border: 1px solid var(--bright-green);
    border-radius: 10px;
    color: var(--bright-green);
    font-size: 16px;
    font-weight: 600;
}

/* hero section */

#hero {
    padding-top: 80px;
    padding-bottom: 128px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

#hero-description {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-description h1 {
    font-family: var(--playfair-font);
    font-size: 36px;
    font-weight: 400;
}

#hero-description p {
    padding-top: 16px;
    padding-bottom: 40px;
}


#hero-img {
    width: 404px;
    height: 539;
}

#hero-img img {
    width: 100%;
    height: 100%;
}

#hero-img p {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    color: var(--light-text-color);
    text-align: right;
}

/* last books sections */

#last-books {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-lighter-background);
}

#last-books h2 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    width: 63%;
    gap: 38px;
    margin-bottom: 48px;
    margin-left: 263px;
    margin-right: 263px;
}

.book-card {
    flex: 0 0 20%;
    width: 25% - 114px;
    display: flex;
    flex-direction: column;
}

.book-card-img {
    width: 200px;
    height: 200px;
}

.book-card-img img {
    width: 100%;
    height: 100%;
}

.book-card-description {
    width: 200px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 23px;
    padding-left: 14px;
}

.book-card-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}

.book-card-author {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 22px;
    color: var(--light-text-color)
}

.book-card-owner {
    font-weight: 400;
    font-size: 10px;
    font-style: italic;
    color: var(--light-text-color)
}

#last-books button {
    margin-bottom: 64px;
}

/* steps section */

#steps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#steps h2 {
    margin-top: 80px;
}

#steps p {
    margin-top: 24px;
}

#step-list {
    display: flex;
    gap: 36px;
    margin-top: 40px;
}

.step-card {
    display: flex;
    align-items: center;
    text-align: center;
    width: 215px;
    height: 139px;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    padding: 44px 18px 44px 18px;
}

#steps .transparent-cta-btn {
    margin-top: 48px;
    width: 218px;
    height: 63px;
    margin-bottom: 80px;
}

#banner {
    width: 100%;
    height: 230px;
    background-image: url('/data/images/woman-in-books.jpg');
    background-size: cover;
    background-position: 50% 40%;
}

/* our values section */

#our-values {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#our-values h2 {
    padding-left: 542px;
    padding-right: 506px;
    margin-top: 80px;
    margin-bottom: 29px;
}

.letter {
    padding-left: 542px;
    padding-right: 506px;
    margin-bottom: 15px;
}

#signature {
    display: flex;
    flex-direction: row;
    gap: 239px;
}

#signature-text {
    padding-top: 14px;
    padding-left: 542px;
}

#signature-img {
    width: 120px;
    height: 102px;
}

/* footer */

footer {
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;
}

.footer-link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
}

.footer-link:hover {
    font-weight: 600;
}

#footer-logo {
    margin-right: 46px;
}

#footer-logo sub, #footer-logo sup {
    color: var(--bright-green);
    font-size: 18px;
    font-family: var(--playfair-font);
    font-weight: 900;
    letter-spacing: 0px;
}

/* error handling */

#flash-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flash-message {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
    padding-left: 20%;
}

.flash-message p {
    color: inherit;
}

.error-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--error-color);
    background-color: var(--error-bg);
    margin: 50px auto;
}

.error {
    color: var(--error-color);
    background-color: var(--error-bg);
}

.warning {
    color: var(--warning-color);
    background-color: var(--warning-bg);
}

.success {
    color: var(--success-color);
    background-color: var(--success-bg);
}

.info {
    color: var(--info-color);
    background-color: var(--info-bg);
}

/* books page */

#books-available {
    padding-bottom: 80px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 63%;
    gap: 10px;
    padding-top: 130px;
    margin-bottom: 70px;
    margin-left: 263px;
    margin-right: 263px;
}

#search-book {
    height: 100%;
    border-color: var(--search-bar-decoration);
    background-color: white;
    border: 1px solid var(--search-bar-decoration);
    border-radius: 10px;
}

#search-book::placeholder {
    padding: 5px;
    color: var(--search-bar-decoration);
}

/* book details page */

#book-details {
    display: flex;
    flex-direction: column;
}

#breadcrumb-trail {
    display: flex;
    gap: 5px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 150px;
}

#breadcrumb-trail a, #breadcrumb-trail span {
    color: var(--light-text-color);
    font-size: 10px;
    font-weight: 300;
    font-family: var(--inter-font);
}

#details {
    display: flex;
}

#book-img {
    width: 50%;
}

#book-img img {
    width: 100%;
    height: auto;
}

#book-description {
    width: 50%;
    padding-top: 60px;
    padding-right: 150px;
    padding-bottom: 80px;
    padding-left: 85px;
}

#book-description h1 {
    margin-bottom: 16px;;
}


#book-author {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--inter-font);
    color: var(--light-text-color);
    margin-bottom: 32px;;
}

hr {
    margin-bottom: 32px;;
    width: 27px;
}

.description-labels {
    font-size: 8px;
    font-weight: 600;
    font-family: var(--inter-font);
    margin-bottom: 16px;
}

#book-description-text {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--inter-font);
    margin-bottom: 32px;
}

.user-tag {
    display: flex;
    align-items: center;;
    width: 157px;
    height: 60px;
    gap: 12px;
    border-radius: 114px;
    padding: 6px 17px 6px 6px;
    background-color: white;
}

.user-img-tag {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-name-tag {
    font-size: 14px;
    font-weight: 400;
}

#send-message-btn {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63px;
    background-color: var(--bright-green);
    border: none;
    border-radius: 10px;
    color: white;
}

/* sign-up / log-in page */

.vertical-split {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.right-split,
.left-split {
    width: 50%;
    height: 100%;
}

.left-split-content {
    padding-top: 130px;
    padding-left: 150px;
    padding-right: 248px;
    width: 100%;
    height: 100%;
}

.left-split-content h1 {
    margin-bottom: 56px;
}

.right-split form,
.left-split form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 100%;
}

.form-element {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.form-element label {
    font-size: 14px;
    font-weight: 400;
    color: var(--light-text-color);
}

.form-element input {
    border-radius: 6px;
    border: 1px solid var(--search-bar-decoration);
    height: 50px;
    width: 100%;
}

.form-element input[type="submit"] {
    border-radius: 10px;
}

.form-cta {
    margin-top: 40px;
}

.right-split img,
.left-split img {
    width: 100%;
}

/* my profile page */

.white-section {
    background-color: white;
    border-radius: 20px;
}

#my-profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 150px;
    padding-top: 90px;
}

#my-profile h1 {
    margin-bottom: 48px;
}

#profile-info-section {
    display: flex;
    flex-direction: row;
    gap: 33px;
    width: 1135px;
    height: 500px;
    margin-bottom: 32px;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card h2 {
    font-family: var(--playfair-font);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 11px;
}

.user-card h3 {
    font-family: var(--inter-font);
    font-size: 8px;
    font-weight: 600;
    margin-bottom: 6px;
}

.user-card p {
    font-family: var(--inter-font);
    font-size: 14px;
    font-weight: 400;
}

.user-card-img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-top: 48px;
    margin-bottom: 5px;
}

#modif-link {
    font-size: 14px;
}

.user-card-hr {
    height: 1px;
    width: 44%;
    margin-top: 48px;
    margin-bottom: 48px;
    border-color: var(--main-darker-background);
    border-style: solid;
}

.seniority-text {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--inter-font);
    color: var(--light-text-color);
    margin-bottom: 21px;
}

#profile-info-section .user-card,
#profile-info-section .modif-user-card {
    width: 50%;
    height: 100%;
}



/* modif-user section */

.modif-user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modif-user-form {
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#modif-user-form h2 {
    width: 100%;
    font-family: var(--inter-font);
    font-weight: 400;
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 26px;
}

#modif-user-form .form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 32px;
}

#modif-user-form .form-field label {
    width: 100%;
    font-size: 14px;
    color: var(--light-text-color);
}

#modif-user-form .form-field input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid var(--search-bar-decoration);
    background-color: var(--light-blue-background);
    padding-left: 14px;
}

#modif-user-form input[type="submit"] {
    width: auto;
    height: auto;
    background-color: var(--main-darker-background);
    color: var(--bright-green);
    border-radius: 10px;
    border: 1px solid var(--bright-green);
    font-family: var(--inter-font);
    font-weight: 600;
    font-size: 16px;
    padding: 22px 32px;
}

/** profile books section */

#profile-books {
    width: 1135px;
    height: auto;
    margin-bottom: 100px;
    overflow: hidden;
}

#profile-books table{
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
    table-layout: auto;
}

.books-card {
    padding-top: 33px;

}

.books-card thead {
    border-bottom: 1px solid var(--main-darker-background);
}

.books-card tbody tr:nth-child(odd) {
    background-color: white;
}
.books-card tbody tr:nth-child(even) {
    background-color: var(--light-blue-background);
}

.books-card th {
    text-align: start;
    font-family: var(--inter-font);
    font-weight: 600;
    /* max-width: 130px; */
    width: auto;
    font-size: 8px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.books-card td {
    border: none;
    height: 130px;
    max-height: 130px;
    width: auto;
    /* max-width: 130px; */
    overflow: hidden;
    font-family: var(--inter-font);
    font-weight: 400;
    font-size: 12px;
    text-align: start;
    padding: 0 40px;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Apply special styling for the description column only */
.books-card td:nth-child(4) {
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.books-card th:nth-child(5),
.books-card td:nth-child(5) {
    width: 1px; /* Force minimum width */
}

.books-card table td img {
    width: 78px;
    height: 78px;
}

.available-tag {
    height: 20px;
    width: 70px;
    font-family: var(--inter-font);
    font-weight: 500;
    font-size: 9px;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.available {
    background-color: var(--available-color);
}

.not-available {
    background-color: var(--not-available-color);
}

.books-card-link {
    text-decoration: underline;
}

.important {
    color: var(--important-text);
}

.table-actions {
    display: flex;
    justify-content: space-between;
}

/*** external profile page */

#external-profile {
    display: flex;
    padding-top: 103px;
    padding-left: 150px;
    padding-bottom: 275px;
}

.profile-cards {
    display: flex;
    width: 1135px;
    gap: 28px;
}

#external-user-info {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
}

#ext-profile-books {
    width: 1135px;
    height: auto;
    overflow: hidden;
}

#ext-profile-books table{
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
    table-layout: auto;
}

.grey-cta-btn {
    background-color: var(--main-darker-background);
    color: var(--bright-green);
    border-radius: 10px;
    border: 1px solid var(--bright-green);
    font-family: var(--inter-font);
    font-weight: 600;
    font-size: 16px;
}

#send-message-grey-btn {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    padding: 22px 38px;
    margin-bottom: 48px;
}

/* edit book page */

#edit-book {
    margin-bottom: 2rem;
    overflow: auto;
}

#edit-book-title {
    font-size: 26px;
}

#edit-book-form {
    justify-content: space-between;
    width: 100%;
}

#edit-book-form img {
    width: 100%;
}

#edit-book-img-section {
    align-items: center;
    width: 42%;
}

#edit-book-info-section {
    align-items: center;
    width: 38%;
}

#book-form-section {
    margin: 2rem;
    padding: 1rem;
}